.buyStyle {
    color: #0000FF !important;
}

.sellStyle {
    color: #008000 !important;
}

.redStyle {
    color: red !important;
}

#layout-topbar {
    background-color: #f4f4f4;
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9997;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    font-weight: bold;
    text-align: center;
}

.dataGridStyle {
    padding-top: 70px;
}

.titleStyle {
    margin-top: 30px;
}